/* src/assets/fonts/fonts.css */
@font-face {
    font-family: 'Nunito';
    src: url('~//Nunito-Light.woff') format('woff'), url('~//Nunito-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Nunito Light', sans-serif;
}
