@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'Montserrat', sans-serif;
}

.ant-menu {
    border-right: none !important;
    background-color: transparent !important;
}

.ant-menu-submenu-title {
    width: 250px !important;
    padding: 0 !important;
    color: inherit !important;
}

.ant-menu-item {
    width: 100% !important;
    padding: 0 5px !important;
}

.ant-menu-title-content {
    padding-left: 10px !important;
}

.ant-menu-title-content,
.ant-slider-rail {
    width: 200px !important;
    padding: 0 20px 0 5px !important;
}

.ant-slider-rail {
    background-color: #e7dbef !important;
}

.ant-slider-handle::after {
    box-shadow: 0 0 0 2px #a56abd !important;
}

.ant-slider-track {
    background-color: #a56abd !important;
}

.custom-menu .ant-menu-item-selected {
    background-color: transparent !important;
}

.custom-menu .ant-menu-item-active {
    background-color: transparent !important;
}

.ant-menu-item-selected,
.ant-menu-item-active {
    background-color: #e7dbef !important;
    color: #a56abd !important;
}

.ant-menu > label {
    color: #a56abd !important;
    padding-right: 20px !important;
}

.ant-checkbox-inner:hover {
    background-color: #a56abd !important;
}

.ant-checkbox-wrapper {
    color: inherit !important;
    width: 100% !important;
}

.ant-radio-wrapper {
    color: inherit !important;
    width: 100% !important;
}

.ant-select-selector {
    color: #6e3482 !important;
}

.ant-select-item-option-selected,
.ant-select-item-option-active {
    background-color: #e7dbef !important;
}

.ant-select-item:hover {
    background-color: #a56abd !important;
}

.ant-pagination-item-active,
.ant-pagination-item-active > a {
    border-color: #a56abd !important;
    color: #a56abd !important;
}
