.modalAddProduct {
    @apply min-w-[50%] max-h-[80%] overflow-auto;
}

.modalAddProduct::-webkit-scrollbar {
    @apply w-0;
}

.modalTitle {
    @apply border-b-2 pb-3 font-bold text-xl relative;
}

.formAddProduct {
    @apply border-b-2 gap-32 p-6;
}

.modalAddProduct .ant-modal-footer {
    flex-shrink: 0;
    padding: 16px 24px;
}

.listAddVariant {
    @apply max-h-[400px] overflow-auto;
}

.listAddVariant::-webkit-scrollbar {
    @apply w-0.5;
}

.listAddVariant::-webkit-scrollbar-thumb {
    @apply bg-wisteria-600 rounded-full;
}

.listAddVariant::-webkit-scrollbar-track {
    @apply bg-blue-chalk-100;
}

.uploadFormAddProduct {
    @apply mb-3;
}

.labelProduct {
    @apply text-base font-bold;
}

.buttonAdd {
    @apply w-full mb-3;
    border-radius: 100% !important;
}

.styleButton {
    @apply flex m-auto;
}
