.baseTable {
    @apply w-full min-h-[200px] overflow-auto;
}

.baseTable thead tr th {
    @apply bg-wisteria-600 sticky top-[-3px] z-[5px] min-h-[60px];
}

.bodyBaseTable {
    @apply overflow-auto;
}

table {
    @apply w-full text-left;
}

.baseTable tbody {
    @apply max-h-[200px] border-collapse overflow-scroll;
}

.baseTable::-webkit-scrollbar {
    width: 0;
}

.baseTable::-webkit-scrollbar-thumb {
    background: transparent;
}


th,
td {
    @apply border border-slate-400 py-3 px-6;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
