.mainUserLayout {
    @apply h-screen w-screen font-nunito overflow-auto;
    scrollbar-width: none;
}

.header {
    @apply fixed top-0 left-0 right-0 z-10 shadow-lg bg-white;
}

.titleHeaderTop {
    @apply flex py-2 justify-between opacity-50 mx-6 relative;
}

.titleHeaderTop::after {
    content: '';
    @apply absolute bottom-0 left-0 w-full h-px bg-gray-400;
}

.titleRightHeaderTop {
    @apply flex items-center;
}

.titleRightHeaderTopLocation {
    @apply inline-flex items-center px-3 mx-3 border-2 border-t-transparent border-b-transparent border-r-black border-l-black;
}

.titleRightHeaderTop span {
    @apply ml-1;
}

.navigateHeader {
    @apply mx-auto max-w-[85%] items-center flex justify-between my-1;
}

.navigate {
    @apply flex w-full;
}

.formSearch {
    @apply relative;
}

.inputSearch {
    @apply h-6 w-auto py-4 pl-3 outline-none border-solid border-2 bg-gray-100 rounded-2xl;
}

.inputSearch:focus {
    @apply focus:border-wisteria-600;
}

.inputSearch:focus {
    @apply focus:border-wisteria-600;
}

.iconSearch {
    @apply absolute top-[15%] right-[5%];
}

.actionUser {
    @apply items-center grid grid-flow-col gap-8 text-center;
}

.identityUser {
    @apply grid grid-flow-col gap-3;
}

.wrapperBody {
    @apply mt-40;
}

.footer {
    @apply w-full py-16 bg-bossa-nova-900 text-white mt-10;
}

.contentFooter {
    @apply grid grid-cols-4 gap-6 max-w-[85%] mx-auto h-auto overflow-hidden;
}

.contentFooter h1 {
    @apply font-semibold text-2xl mb-4;
}

.titleFooter {
    @apply flex items-center;
}

@media screen and (min-width: 320px) and (max-width: 786px) {
    .titleHeaderTop,
    .actionUser {
        display: none;
    }

    .contentFooter {
        @apply grid grid-cols-2 gap-8 h-full;
    }
}
